.tasks-container {
    height: 95vh;
    width: 80%;
    border-radius: 2%;
    border: 2px solid var(--border-color);
    background-color: var(--background-color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.header-tasks {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
}

.tasks-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 2rem 0;
}